/* XOPPY Is A Trademark Of XOPBOT.inc And XOPBOT© More At https://xopbot.glitch.me/ 🔥🔥🔥 */
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Alfa+Slab+One&family=Kdam+Thmor+Pro&family=Roboto+Serif:opsz@8..144&display=swap");
body{background-color: #0c0c0c;}
div.signup-box{position:absolute;top:5%;left:32.5%;font-family: "Kdam Thmor Pro", sans-serif;background-color:#000000;width: 35%;height:auto;border-radius:10px;border: 2px solid #000000;padding-bottom:20px;bottom:5%;overflow-y:scroll;overflow-x:hidden;}
div.signup-box:hover{border: 2px solid #ff0000;}
div.signup-box-img img{padding-top:3vh;width:120px;height:120px;}
div.signup-box-head {font-size:37px;position:relative;top:-1%;color: var(--secondary);font-weight: bolder;}
.signup-box-inputs{color:#ffffff;}
.signup-box-inputs input[type="text"]{width:80%;display: block;border-radius: 30px;padding: 10px;margin: 10px 0;background: transparent;color: #ffffff;font-size: 16px;}
.signup-box-inputs input[type="password"]{width:80%;display: block;border-radius: 30px;padding: 10px;margin: 10px 0;background: transparent;color: #ffffff;font-size: 16px;}
.signup-box-inputs input[type="email"]{width:80%;display: block;border-radius: 30px;padding: 10px;margin: 10px 0;background: transparent;color: #ffffff;font-size: 16px;}
.signup-box-inputs input[type="date"]{width:80%;display: block;border-radius: 30px;padding: 10px;margin: 10px 0;background: transparent;color: #ffffff;font-size: 16px;}
div.signup-box button{width:60%;display:block;border-radius:20px;padding:10px;background-color:#ff0000;color:#ffffff;font-size:17px;margin-top:-23px;}
div.signup-box button:hover{background-color:#ffffff;color:#ff0000;}
div.space-box{padding-top:5vh;}
div.signup-box-third-parties{position:relative;width:auto;height:auto;display:flex;justify-content:center;color: #000000;margin-top:-10px}
div.option-party{height:30px;width:100px;background-color:#ffffff;border-radius:10px;}
div.option-party:hover{box-shadow: 0 3px 8px 0  red, -0 -3px 8px -0 red;}
div.option-party img{float:left;padding:5px 0px 0px 5px;height:20px;width:20px;}
div.option-party a{position:relative;top:10%;}
div.signup-box-options{padding-top:3px;color:#ffffff;position:relative;text-align:center;margin-top:-15px;}
div.signup-box-options label{font-size:16px;}
div.signup-box-options input[type="checkbox"]{height:16px;width:16px;}
p.select_party{position:relative;text-align:center;font-size:17px;color:#ffffff;margin-top:-5px;}