/* XOPPY Is A Trademark Of XOPBOT.inc And XOPBOT© More At https://xopbot.glitch.me/ 🔥🔥🔥 */
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Alfa+Slab+One&family=Kdam+Thmor+Pro&family=Roboto+Serif:opsz@8..144&display=swap");
div.activity{border-radius:5px;background-color:#000000;width:200px;height:165px}
div.activity:hover{border:solid 2px #ff0000}
div.activity video,iframe{position:relative;height:110px;width:100%;left:-0.522%;float:left}
div.vid-setup{position:fixed;font-family:"Kdam Thmor Pro",sans-serif;width:60%;height:440px;background-color:#000000;left:19.3%;right:20%;top:13%;bottom:12.5%;border-radius:20px}
div.vid-setup p {position:relative;top:-3%;font-size: 15px;color:#ffffff;}
div.vid-setup video{position:relative;width:100%;height:400px;top:-6.5%;}
div.vid-setup .controls{position:absolute;left:2.5%;top:96%;color:#ffffff;font-size:20px;}
#prevfull-1{position:relative;left:-27.5%;top:-14%;color:#ffffff;font-size: 18px;}
#prevplay-1{position:relative;right:-7.68%;top:-14%;color:#ffffff;font-size: 18px;}
#prevcon-1{position:relative;right:-39.5%;top:-14%;color:#ffffff;font-size: 18px;}
#prevfull-2{position:relative;left:-31%;top:-14%;color:#ffffff;font-size: 18px;}
#prevplay-2{position:relative;right:-5.78%;top:-14%;color:#ffffff;font-size: 18px;}
#prevcon-2{position:relative;right:-36.15%;top:-14%;color:#ffffff;font-size: 18px;}
#prevfull-3{position:relative;left:-40.5%;top:-14%;color:#ffffff;font-size: 18px;}
#prevplay-3{position:relative;left:-5.78%;top:-14%;color:#ffffff;font-size: 18px;}
#prevcon-3{position:relative;right:-26.9%;top:-14%;color:#ffffff;font-size: 18px;}
#prevfull-4{position:relative;left:-49%;top:-14%;color:#ffffff;font-size: 18px;}
#prevplay-4{position:relative;left:-13.8%;top:-14%;color:#ffffff;font-size: 18px;}
#prevcon-4{position:relative;right:-17.98%;top:-14%;color:#ffffff;font-size: 18px;}
#prevfull-1, #prevplay-1, #prevcon-1, #prevfull-2, #prevplay-2, #prevcon-2, #prevfull-3, #prevplay-3, #prevcon-3, #prevfull-4, #prevplay-4, #prevcon-4{display:none;}
#vid, #vid1, #vid2, #vid3{display:none}
div.video-player{position:absolute;width:60%;height:71%;}
#video-pl{width:100%;height:100%;position:relative;border-radius:10px;}
div.video-suggestions{background-color:#000000;position:absolute;height:70.65%;width:36%;right:1.7%;border-radius:10px;border:2px solid #000000;}
p.v-text-s{text-align:center;color:#ff0000;font-family: "Kdam Thmor Pro", sans-serif;font-size:17px;font-weight:bold;}
div.v-suggestions{color:#ffffff;font-family: "Kdam Thmor Pro", sans-serif;height:69%;overflow:auto;}
div.v-s-v{padding-top:1vh;position:relative;width:100%;height:auto;}
div.v-s-v:hover{background-color: grey;}
div.v-s-v img{width:150px;height:90px;padding-left:2px;}
a.v-s-desc{font-size:17px;margin-right:17%;float:right;}
a.v-s-desc-help{font-size:17px;margin-right:31.7%;float:right;}
a.v-s-desc-help1{font-size:17px;margin-right:6.5%;float:right;}
a.v-s-author{font-size:15px;margin-left:35%;float:left;margin-top:-13%;color: green;}
div.comment{padding-top:12px;padding-left:10px;position:relative;width:100%;display:flex;overflow:auto;}
div.comment-video input{width:210px;background:transparent;color:#ffffff;height:30px;padding-left:10px;border-radius:15px;}
*{outline:none;}
img.comment-user{height:30px;width:30px;padding-right:10px;margin-top:1%;}
div.comment-options{padding-left:13px;padding-top:5px;display:flex;gap:13px;}
div.l-opt{height:30px;width:90px;background-color:white;border-radius:10px;}
div.l-opt i{font-size:21px;color:#ff0000;margin-top:5.1px;margin-left:5px;}
div.l-opt a{font-size:21px;color:#000000;margin-left:10px;}
div.video-announcments{position:absolute;bottom:2%;left:2.8%;display:flex;height:16%;width:97.2%;gap:1rem;overflow:auto;padding-bottom:5px;}
div.acn-box{height:100px;width:200px;background-color:#ff0000;border-radius:10px;color:#ffffff;}
div.acn-box:hover{background-color:#000000;}
p.acn-head{font-size:17px;font-family:"Poppins",sans-serif;position:relative;top:-5%;left:3%;}
p.acn-head:hover{color:green;}
p.acn-desc{font-size:15px;font-family:"Kdam Thmor Pro",sans-serif;position:relative;width:100%;height:35px;top:-15%;left:3%;overflow:auto;}